[user]
	name = Himanshu Himsurya
	signingkey = 2876E3F8FD8C1B76
	email = himanshuhimsurya@gmail.com
[core]
	editor = nvim
[init]
	deafultBranch = main
	defaultBranch = main
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[alias]
	logg = log --graph --all
	st = status
	push = push --verbose
[commit]
	gpgsign = true
