[user]
	name = Himanshu Himsurya
	signingkey = 940DF408D1A30A8F
	email = himanshuhimsurya@gmail.com
[core]
	editor = nvim
[init]
	deafultBranch = main
	defaultBranch = main
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[alias]
	st = status
    loga = log --graph --all
    log2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset) %C(dim white)- %an%C(reset)%n''          %C(white)%s%C(reset)%n'
    logd = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset) %C(dim white)- %an%C(reset)%n''          %C(bold white)%s%C(reset)%n%n%-b%n'
    logg = log2 --all
    last = logd -2 HEAD
    unstage = stage --restore
[commit]
	gpgsign = true
    verbose = true
