[user]
	name = arfinity
	signingkey = 5C0C0DDE7C81BA26
	email = himanshuhimsurya@gmail.com
[core]
	editor = nvim
[init]
	deafultBranch = main
	defaultBranch = main
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[alias]
	logg = log --graph --all
	st = status
	push = push --verbose
[commit]
	gpgsign = true
