snippet include "Default starter code"
#include <iostream>
#include <algorithm>
#include <string>
#include <vector>
#include <unordered_map>
#include <map>
#include <iterator>

using std::cin, std::cout, std::cerr;
using std::sort, std::reverse;
using std::string;
using std::vector;
using std::unordered_map, std::map;

int main()
{
	$0

	return 0;
}
endsnippet
