snippet documentclass "Basic tex template"
\\begin\{document\}
\\title\{$1\}
\\author\{Himanshu Himsurya\}
\\maketitle
\\date{}

${2}

\\end\{document\}
endsnippet

snippet equation "Insert numbered equation"
\\begin\{equation\}
$0
\\end\{equation\}
endsnippet

snippet math "Inline math mode"
\$ $0 \$
endsnippet

snippet sum "Summation"
\\sum_\{$1\}^\{$2\}
endsnippet

snippet matrix "Basic matrix environment"
\\begin\{$1matrix\}
$2 \\\\
\\end\{$1matrix\}
endsnippet
